{% extends 'layout.html' %}

{% block content %}
    <header class="main-header post-head " style="background-image: url(assets/img/random.jpg)">
        <div class="vertical">
            <div class="main-header-content inner">
                <h1 class="post-title">Something went wrong (500)</h1>
                <div class="entry-title-divider">
                    <span></span><span></span><span></span>
                </div>
                <section class="post-meta">
                    <time class="post-date" datetime="2015-12-13">We're experiencing some trouble on our end. Please try again in the near future</time> | <a
                        class="scrolltocomments" href="#disqus_thread">Comments</a>
                </section>
            </div>
        </div>
    </header>
{% endblock content %}