{% extends 'layout.html' %}

{% block content %}
    <header class="main-header post-head " style="background-image: url(assets/img/random.jpg)">
        <div class="vertical">
            <div class="main-header-content inner">
                <h1 class="post-title">Register</h1>
                <div class="entry-title-divider">
                    <span></span><span></span><span></span>
                </div>
                <section class="post-meta">
                    <time class="post-date" datetime="2015-12-13">13 December 2016</time> | <a class="scrolltocomments"
                        href="#disqus_thread">Comments</a>
                </section>
            </div>
        </div>
    </header>

    <main id="content" class="content" role="main">
        <div class="wraps">
            <div class="grid">
                <div class="grid-item ">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}

                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label") }}

                                {% if form.username.errors %}
                                    {{ form.username(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                            
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}
                            
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.confirm_password.label(class="form-control-label") }}
                            
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirm_password(class="form-control") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn  btn-lg btn-outline-info") }}
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
                        </small>
                    </div>
                </div>
           </div>
        </div>
    </main>
{% endblock content %}