{% extends 'layout.html' %}

{% block content %}
	<header class="main-header " style="background-image: url(static/assets/img/intro.jpg)">
		<div class="vertical">
			<div class="main-header-content inner">
				<h1 class="page-title">Fashion Critiques</h1>
				<div class="entry-title-divider">
					<span></span><span></span><span></span>
				</div>
				<h2 class="page-description">Thoughts, reviews and ideas since 1999.</h2>
			</div>
		</div>
		<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll
				Down</span></a>
	</header>

	<main id="content" class="content" role="main">
		<div class="wraps">
			<img src="{{ url_for('static', filename='assets/img/shadow.png') }}" class="wrapshadow">
			<div class="grid">
				{% for post in posts.items %}
				<div class="grid-item">
					<article class="post">
						<div class="wrapgriditem">
							<header class="post-header">
								<h2 class="post-title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
							</header>
							<section class="post-excerpt">
								<p>
									{{ post.content|truncate(50) }}
									 <a class="read-more"
										href="{{ url_for('post', post_id=post.id) }}">&raquo;</a>
								</p>
							</section>
							<footer class="post-meta">
								<img class="author-thumb" src="{{ url_for('static', filename='assets/img/' + post.author.image_file) }}" nopin="nopin">
								<a href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
								<time class="post-date" datetime="2016-12-18">{{post.date_created.strftime('%Y-%m-%d')}}</time>
							</footer>
						</div>
					</article>
				</div>
				{% endfor %}
			</div>
			<nav class="pagination" role="navigation">
				{% for page_num in posts.iter_pages() %}

					{% if page_num %}
						{% if posts.page == page_num %}

							{% if posts.has_prev %}
								<a class="newer-posts" href="{{ url_for('home', page=page_num - 1) }}">&larr; Newer Posts </a>
							{% endif %}

							<span class="page-number">Page {{ page_num }}</span>

							{% if posts.has_next %}
								<a class="older-posts" href="{{ url_for('home', page=page_num + 1) }}">Older Posts &rarr;</a>
							{% endif %}

						{% endif %}
					{% endif %}

				{% endfor %}
			</nav>
		</div>
	</main>
{% endblock content %}